<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jaldeeinc.jaldee">
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission for checking whether wifi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <package android:name="com.paytm.pgsdk.TransactionManager.PAYTM_APP_PACKAGE" />

        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ynw_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.MultipleAppointmentConfirmation"
            android:exported="false" />
        <activity
            android:name=".activities.ReleasedQNRActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JaldeeWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.JaldeeCashActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.AudioActivity" />
        <activity
            android:name=".activities.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DonationReconfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpdateQuestionnaire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckInReconfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReconfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReconfirmationMultipleApptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CustomQuestionnaire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewAttachmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckoutListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckoutItemsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ItemDetailAcitvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ItemsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.OrdersHistoryActivity" />
        <activity android:name=".activities.JdnActivity" />
        <activity
            android:name=".activities.SearchResultsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.CheckInDetails" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.BookingDetails" />
        <activity android:name=".activities.HistoryActivity" />
        <activity
            android:name=".activities.TestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.RescheduleCheckinActivity" />
        <activity android:name=".activities.RescheduleActivity" />
        <activity
            android:name=".activities.DonationActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CheckInActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppointmentActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MoreInfoActivity"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activities.UserDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProviderDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppointmentConfirmation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckInConfirmation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ActiveListing" />
        <activity android:name=".activities.LinkRedirectionActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.CouponFirstActivity" />
        <activity android:name=".activities.CouponActivity" />
        <activity
            android:name=".activities.Splash"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="scale.jaldee.com" -->
            <!-- android:scheme="https" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Home" />
        </activity>
        <activity
            android:name=".activities.Register"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.AppointmentDate"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.Donation"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Signup"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.VerifyOtp"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.Password"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.Home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="FCM_PLUGIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.PayUMoneyWebview"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.Login"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.ResetOtp"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.SwipeGalleryImage"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.FilterActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.SearchServiceActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.SearchLocationActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.CheckIn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Appointment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.PaymentDetail"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.CheckinShareLocation"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.CheckinShareLocationAppointment"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.PaymentActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.CheckinFamilyMember"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.CheckinFamilyMemberAppointment"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.CheckinFamilyMemberDonation"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.MessageActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.DetailInboxList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.AddMemberChekin"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.TermsOfUse"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activities.BillActivity"
            android:screenOrientation="unspecified" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.LocationUpdatesService" />
        <service android:name=".service.LiveTrackService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nv.ynw.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>